---
import Section from './Section.astro';
import KCET from '../assets/svgs/kcet.svg?raw';
import KDA from '../assets/svgs/kda.svg?raw';
import Moms from '../assets/svgs/moms.svg?raw';
import Rebuilding from '../assets/svgs/rebuilding.svg?raw';
import Dems from '../assets/svgs/kydems.svg?raw';
---

<Section>
	<div class="mx-auto max-w-7xl pt-16 -mb-8">
		<div
			class="mx-auto grid max-w-lg grid-cols-2 items-center gap-x-8 gap-y-12 sm:max-w-xl sm:gap-x-10 sm:gap-y-14 lg:mx-0 lg:max-w-none lg:grid-cols-5"
		>
			<a
				href="https://kykcet.org/"
				class="text-center block hover:text-sky-700 dark:text-white opacity-20 hover:opacity-100 dark:hover:text-yellow-100 hover:scale-110 transition-all dark:drop-shadow-xl"
				style="width: 150px"
			>
				<Fragment set:html={KCET} />
			</a>
			<a
				href="https://kydemauxiliary.com/"
				class="text-center block hover:text-sky-700 dark:text-white opacity-20 hover:opacity-100 dark:hover:text-yellow-100 hover:scale-110 transition-all dark:drop-shadow-xl"
				style="width: 150px"
			>
				<Fragment set:html={KDA} />
			</a>
			<a
				href="https://momsdemandaction.org/"
				class="text-center block hover:text-sky-700 dark:text-white opacity-20 hover:opacity-100 dark:hover:text-yellow-100 hover:scale-110 transition-all drop-shadow-xl"
				style="width: 150px"
			>
				<Fragment set:html={Moms} />
			</a>
			<a
				href="https://www.kydemocrats.org/"
				class="text-center block hover:text-sky-700 dark:text-white opacity-20 hover:opacity-100 dark:hover:text-yellow-100 hover:scale-110 transition-all drop-shadow-xl"
				style="width: 180px"
			>
				<Fragment class="h-12" set:html={Rebuilding} />
			</a>
			<a
				href="https://www.rebuildingpod.com/"
				class="text-center block hover:text-sky-700 dark:text-white opacity-20 hover:opacity-100 dark:hover:text-yellow-100 hover:scale-110 transition-all drop-shadow-xl"
				style="width: 150px"
			>
				<Fragment class="h-12" set:html={Dems} />
			</a>
		</div>
	</div>
</Section>
